name: resolver-maven-plugin
automerge_delay: 1
lang: java
lang_version: unknown
git:
  enable: true
semaphore:
  enable: true
  pipeline_enable: false
  tasks:
    - name: release-to-public
      branch: master
      pipeline_file: .semaphore/release.yml
      parameters:
        - name: TAG
          required: true
          default_value: master
          description: "The tag to release"
  managed_sections:
    - version
    - name
    - agent
    - global_job_config
